# Arquivo requirements.txt final e estável

# Core
streamlit
SQLAlchemy
matplotlib
scikit-image
Pillow

# Versões cravadas para compatibilidade
numpy==1.26.4
opencv-python-headless==4.9.0.80

# Engine de OCR e sua base
paddlepaddle
paddleocr==2.7.3